.contact-form{

    @extend %modal;

    &__container{
        align-self: center;
        background:$color-tertiary;
        max-height:90rem;
        width: 66.9rem;
    }
    //MODAL--header
    &__header{
        font-size:3rem;
        display: flex;
        flex-direction: row;
        margin:2rem;
    }
    &__info{
        display: flex;
        flex-direction: column;
        width:90%;
    }
    &__title,&__recipient{
        display: inline;
    }
    
    &__close{  
        border:none;
        background: none;
        i{
            color:white;
            font-size: 6rem;
        }
    }

    //MODAL--body
    &__body{
        display: flex;
        flex-direction: column;
        margin:2rem;

        .input-group{
            margin-top:1rem;
            &__input{
                width:100%;
            }
            &__input--textarea{
                width: 100%;
            }
        }
        button{
            align-self: flex-start;
            margin:2rem 0;
        }
    }
}