header {
	display: flex;
	flex-direction: column;
	margin:0 2rem;

	aside {
		display: flex;
		justify-content: center;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2rem;
		// padding: 0 12rem;
        .tags{
            flex-wrap: wrap;
        }
	}

	//MEDIA QUERIES

	//--tablets
	@include tablets {
		nav {
			flex-flow: wrap row;
			margin-top: 3.5rem;
			.tags {
				order: 3;
				width: 100%;
				margin: 3rem 0;
			}
		}
	}

	//--mobile
	@include mobile{
		padding: 0 2rem;
		margin:0;
	}
}
