header {
	display: flex;
	flex-direction: column;

	aside {
		display: flex;
		justify-content: center;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2rem;
		padding: 0 12rem;
        .tags{
            flex-wrap: wrap;
        }
	}

	@include tablets {
		nav {
			flex-flow: wrap row;
			margin-top: 3.5rem;
			.tags {
				order: 3;
				margin: 3rem 0;
			}
		}
	}
}
