header{
    display: flex;
    flex-direction: column;

    aside{
        display: flex;
        justify-content: center;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    @include mobile{

        nav{
            flex-flow: wrap row;
            .tags{
                order:3;
                margin:3rem 0;
            }
        }
    }
}