@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
html {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 1rem;
  border-radius: 0.7rem;
  padding: 0.7rem;
  background-color: #D3573C;
  border: none;
}
.button-contact {
  font-weight: 600;
  border-radius: 0.4rem;
  letter-spacing: 0.1rem;
  font-size: 1.9rem;
  color: #ffffff;
  background-color: #901c1c;
  padding: 2.2rem 1rem;
  margin-top: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%/3);
  max-height: 34.2rem;
  margin: 2rem 0;
}
.card__figure {
  width: 20rem;
  height: 20rem;
}
.card__figure img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.card__name {
  font-size: 3.25rem;
  font-weight: 400;
  color: #D3573C;
}
.card__location {
  margin-top: 0.5rem;
  font-size: 1.45rem;
  font-weight: 500;
  color: #901C1C;
}
.card__slogan {
  margin-top: 0.5rem;
}
.card__price {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #525252;
}
.card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
@media (max-width: 575.98px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .card {
    width: calc(100%/2);
  }
}

.logo {
  width: 25rem;
  height: 5rem;
}
.logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .logo {
    height: 3.7rem;
    width: 50%;
    order: 1;
  }
}

.page-title {
  color: #901C1C;
  font-size: 3.25rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .page-title {
    width: 50%;
    order: 2;
    font-size: 2.5rem;
  }
}
@media (max-width: 575.98px) {
  .page-title {
    font-size: 1.5rem;
  }
}

.tag {
  color: #901C1C;
  display: inline-block;
  border: 0.1rem solid #C4C4C4;
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1.15rem;
  border-radius: 1.1rem;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
}
header aside {
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 12rem;
}
header nav .tags {
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  header nav {
    flex-flow: wrap row;
    margin-top: 3.5rem;
  }
  header nav .tags {
    order: 3;
    margin: 3rem 0;
  }
}

.cards-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 6rem 0;
}
@media (max-width: 575.98px) {
  .cards-deck {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}

.tags {
  list-style: none;
  display: flex;
  justify-content: center;
}

.photographer-banner {
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 14rem;
  width: 100%;
}
.photographer-banner__name {
  font-size: 6rem;
  font-weight: 500;
  color: #D3573C;
  position: relative;
}
.photographer-banner__location {
  margin: 0.5rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: #901C1C;
}
.photographer-banner__slogan {
  margin-top: 0.5rem;
  font-size: 1.7rem;
  color: #525252;
}
.photographer-banner .tags {
  display: inline-flex;
  margin-top: 1rem;
}
.photographer-banner .tags .tag {
  font-size: 1.5rem;
  border-radius: 1.5rem;
}
.photographer-banner__contact {
  position: relative;
  width: calc(100%/2);
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
