.button {
	font-weight: bold;
	font-size: 1.6rem;
	margin-top: 1rem;
	border-radius: 0.7rem;
	padding: 0.7rem;
	background-color: $color-secondary;
	border: none;

    &-contact{
        font-weight:500;
        border-radius: 0.4rem;
        letter-spacing:0.1rem;
        font-size: 1.9rem;
        color: #ffffff;
        background-color: #901c1c;
        padding: 2.2rem 1rem;
        margin-top: 0;
    }
}
