.button {
	font-weight:500;
	font-size: 1.6rem;
	margin-top: 1rem;
    min-width:170px;
	border-radius: 0.7rem;
	padding: 0.7rem;
	background-color: $color-secondary;
	border: none;

    &-contact{
        border-radius: 0.4rem;
        letter-spacing:0.1rem;
        font-size: 1.9rem;
        color: #ffffff;
        background-color: $color-primary;
        padding: 2.2rem 1rem;
        margin-top: 0;

        &--small{
            padding: 0.8rem 1.8rem;
            font-size:1.7rem;
        }
        &:hover{
            background: $color-tertiary;
            color:black;
            cursor:pointer;
        }
    }
    
}
