.card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:33.5rem;
    height:34.2rem;
    margin: 2rem 0;

    &__header{
        display: flex;
        justify-content: center;
    }
    
    &__figure{
        width:20rem;
        height:20rem;

        img{
            height: 100%;
            width:100%;
            border-radius:50%;
            object-fit: cover;
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:1.5rem;
    }
    
    &__name{
        font-size:3.25rem;
        font-weight: 400;
        color: $color-secondary;
    }

    &__location{
        margin-top:0.5rem;
        font-size:1.45rem;
        font-weight: 500;
        color:$color-primary;
    }
    
    &__slogan{
        margin-top:0.5rem;
    }
    &__price{
        margin-top:0.5rem;
        font-size:1rem;
        color:#525252;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:0.5rem;
    }
}