.order-by{
    margin: 3rem 2rem;

    &__label{
        font-weight:bold;
        font-size:1.7rem;
        margin-right:2rem;
    }

    &__select{
        background:$color-primary;
        color:white;
        padding:1.5rem 2rem ;
        appearance: none;
        font-size:1.5rem;
        font-weight:bold;
        border-radius: 0.5rem;

        option{
            padding:1.5rem 2rem ;
        font-size:1.5rem;
        font-weight:bold;
        border-radius: 0.5rem;
        }
    }

    &__option{
        font-size:1.5rem;
        font-weight:bold;
    }

    // MEDIA QUERIES

    //--mobile
    @include mobile{
        display: none;
    }
}