.picture-card{
    width:calc(100%/3);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    &__image{
        width:35rem;
        height:30rem;
        img{
            border-radius:0.5rem;
            height: 100%;
            width:100%;
            object-fit: cover;
        }
    }

    &__info{
        padding:1rem 0;
        display: flex;
        justify-content: space-between;
        color:$color-primary;
        font-weight: bold;
        font-size:2rem;
        width:35rem;
    }

    &__counter-like{
        display: flex;
        justify-content: center;
        
    }
}