// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ FONT import                                                                  │
// └──────────────────────────────────────────────────────────────────────────────┘
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');
html{
    font-family: Inter, Arial, Helvetica, sans-serif;
}

// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ REM RULES                                                                    │
// └──────────────────────────────────────────────────────────────────────────────┘
html{
    font-size:62.5%;
}

// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ GLOBAL RULES                                                                 │
// └──────────────────────────────────────────────────────────────────────────────┘
body{
    max-width:1240px;
    margin: 0 auto;
}
