.photographer-contact {
display:none;

// MEDIA QUERIES
@include tablets {
	align-items: center;
	bottom: 3rem;
	display: flex;
	font-size: 2.5rem;
	justify-content: center;
	position: fixed;
	width: 100%;
	margin-left: -2rem;
}
}

main{
	@include mobile{
		padding: 0 2rem;
	}
	
}